@page "/recipes"
@using RecipesApp.App.Data
@using RecipesApp.App.Models
@inject IRecipesService RecipesService

<h1>Recipes</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (m_Recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><button class="btn btn-primary" @onclick="OpenAddModal">Add Recipe</button></p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total Time</th>
                <th>Reference</th>
                <th>Created</th>
                <th>Last Updated</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in m_Recipes)
            {
                <tr id="@recipe.Id">
                    <td>@recipe.Name</td>
                    <td>@recipe.TotalMinutes</td>
                    <td>@recipe.Reference</td>
                    <td>@recipe.CreatedAt.ToString("g")</td>
                    <td>@recipe.UpdatedAt.ToString("g")</td>
                    <td><button class="btn btn-primary" @onclick="() => OpenEditModal(recipe.Id)">Edit</button> <button class="btn btn-primary" @onclick="(async () => await DeleteRecipe(recipe))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

    if (m_IsAdding)
    {
        <RecipesAdd ModalTitle="Add Recipe" OnClose="@CloseModals" OnComplete="@DataUpdated" />
    }
    else if (m_IsEditing)
    {
        <RecipesEdit ModalTitle="Edit Recipe" RecipeId="@m_EditingId" OnClose="@CloseModals" OnComplete="@CloseModals" /><!-- Why does Edit work without reloading? -->
    }
}

@code {
    IEnumerable<RecipeModel> m_Recipes;

    bool m_IsAdding;
    bool m_IsEditing;
    Guid m_EditingId;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        m_Recipes = await RecipesService.GetRecipes();
    }

    private void OpenAddModal()
    {
        m_IsAdding = true;
    }

    private void OpenEditModal(Guid id)
    {
        m_IsEditing = true;
        m_EditingId = id;
    }

    private async Task DeleteRecipe(RecipeModel recipe)
    {
        await RecipesService.DeleteRecipe(recipe);
        await Load();
    }

    private async Task DataUpdated()
    {
        await Load();
        CloseModals();
    }

    private void CloseModals()
    {
        m_EditingId = Guid.Empty;
        m_IsAdding = false;
        m_IsEditing = false;
    }
}
